h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.oomozi {
  font-size: 40px;
}

.cyuuou {
  text-align: center;
  color: rgb(43, 41, 41);
}

.mokuzi {
  text-align: right;
}

.img-box {
  text-align: center;
}

.risurazi {
  text-align: left;
  width: 150px;
  height: auto;
}

.x {
  max-width: 600px !important;
  margin-left: auto;
  margin-right: auto;
}

html, body{
  overflow: hidden;
}

.can-scroll{
  overflow: auto;
}