h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.oomozi{
  font-size: 40px;
}

.cyuuou{
  text-align: center;
  color:rgb(43, 41, 41);
}

.mokuzi{
  text-align: right;
  float: left;
}

.img-box{
  text-align: center;
}

.risurazi{
  text-align: left;
  width: 150px;
  height: auto;
}

.sns{
  transform: scale(0.8);
  transform-origin: left top;
}