.img-box img {
    width: 96px;
    height: 65px;
    }

    .kasaneru{
        position: relative;
        width: 500px;
      }
      
      img{
        width: 100%;
      }

      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        font-size: 50px;
      }